# 忽略target目录
**/target
/.idea/
/target/
/gzhuoj-common/target/
/gzhuoj-gateway/target/
/gzhuoj-services/gzhuoj-contest/target/
/gzhuoj-services/gzhuoj-problem/target/
/gzhuoj-services/gzhuoj-user/target/
