<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gzhuoj.contest.mapper.TeamMapper">
    <select id="getLastTeamNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*) from team where team_id regexp '^team[0-9]+$' and contest_id = #{cid}
    </select>

    <insert id="insertOrUpdateTeam" parameterType="com.gzhuoj.contest.model.entity.TeamDO">
        INSERT INTO team (team_id, contest_id, team_status, password, team_name, team_member, team_type, coach, school,
                          room, privilege)
        VALUES (#{team.teamId}, #{team.contestId}, #{team.teamStatus}, #{team.password}, #{team.teamName},
                #{team.teamMember}, #{team.teamType}, #{team.coach}, #{team.school}, #{team.room},
                #{team.privilege}) ON DUPLICATE KEY
        UPDATE
            team_status =
        VALUES (team_status), password =
        VALUES (password), team_name =
        VALUES (team_name), team_member =
        VALUES (team_member), team_type =
        VALUES (team_type), coach =
        VALUES (coach), school =
        VALUES (school), room =
        VALUES (room), privilege =
        VALUES (privilege);
    </insert>
</mapper>
